* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  outline: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  --dark: #2b3b48;
  --blue-gray: #8093a5;
  color: var(--dark);
}

.main-container {
  padding: 9px 1rem 34px 1rem;
  max-width: 1440px;
}

@media (min-width: 768px) {
  .main-container {
    padding: 31px 5rem 79px 5rem;
  }
}

@media (min-width: 992px) {
  .main-container {
    padding: 31px 164px 79px;
  }
}

.main-container > h1 {
  margin-bottom: 42.8px;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.21;
}

.main-container .currency-wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: 992px) {
  .main-container .currency-wrapper {
    flex-direction: row;
  }
}

@media (min-width: 1400px) {
  .main-container .currency-wrapper {
    margin-bottom: 0px;
  }
}

.main-container .currency-wrapper .currency-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.main-container .currency-wrapper .currency-container .currency {
  width: 100%;
  margin-right: 76px;
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  .main-container .currency-wrapper .currency-container .currency {
    margin-right: 0px;
  }
}

@media (min-width: 1400px) {
  .main-container .currency-wrapper .currency-container .currency {
    width: calc(50% - 76px);
  }
  .main-container .currency-wrapper .currency-container .currency:nth-last-child(-n + 2) .currency__inner {
    border-bottom: none;
  }
}

.main-container .currency-wrapper .currency-container .currency:nth-last-child(-n + 1) {
  margin-bottom: 0;
}

.main-container .currency-wrapper .currency-container .currency:nth-last-child(-n + 1) .currency__inner {
  border-bottom: none;
}

.main-container .currency-wrapper .currency-container .currency__inner {
  display: flex;
  margin-right: 0px;
  border-bottom: 1px solid #bac9d5;
  padding-bottom: 25px;
}

.main-container .currency-wrapper .currency-container .currency__inner-name, .main-container .currency-wrapper .currency-container .currency__inner-buy, .main-container .currency-wrapper .currency-container .currency__inner-sell {
  width: 100%;
}

.main-container .currency-wrapper .currency-container .currency__inner-name span, .main-container .currency-wrapper .currency-container .currency__inner-buy span, .main-container .currency-wrapper .currency-container .currency__inner-sell span {
  display: block;
}

.main-container .currency-wrapper .currency-container .currency__inner-image {
  margin-right: 15px;
}

.main-container .currency-wrapper .currency-container .currency__inner-name > span {
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 1px;
}

.main-container .currency-wrapper .currency-container .currency__inner-name > span:nth-child(2) {
  font-size: 12px;
  line-height: 2;
  white-space: nowrap;
}

.main-container .currency-wrapper .currency-container .currency__inner-buy {
  text-align: right;
  margin-right: 2px;
}

.main-container .currency-wrapper .currency-container .currency__inner-buy > span:nth-child(1) {
  font-size: 12px;
  font-weight: 500;
  color: #4f6477;
  margin-bottom: 6px;
}

.main-container .currency-wrapper .currency-container .currency__inner-buy > span:nth-child(2) {
  line-height: 1.5;
}

.main-container .currency-wrapper .currency-container .currency__inner-sell {
  text-align: right;
}

.main-container .currency-wrapper .currency-container .currency__inner-sell > span:nth-child(1) {
  font-size: 12px;
  font-weight: 500;
  color: #4f6477;
  margin-bottom: 6px;
}

.main-container .currency-wrapper .currency-container .currency__inner-sell > span:nth-child(2) {
  line-height: 1.5;
}

.main-container .currency-wrapper .converter-container {
  padding: 19px 20px 26px;
  height: 100%;
  background-image: linear-gradient(154deg, #2b3b48 32%, #8093a5 115%);
  margin-top: 7px;
  min-width: 254px;
}

@media (min-width: 992px) {
  .main-container .currency-wrapper .converter-container {
    margin-left: 4px;
    margin-top: 0;
  }
}

.main-container .currency-wrapper .converter-container .converter {
  text-align: center;
}

.main-container .currency-wrapper .converter-container .converter__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.7;
  color: #fff;
  margin-bottom: 27px;
}

.main-container .currency-wrapper .converter-container .converter__amount {
  display: flex;
  justify-content: center;
}

.main-container .currency-wrapper .converter-container .converter__amount > input {
  width: 100%;
  padding: 15px 0px 13px 15px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  border: 0;
}

@media (min-width: 1400px) {
  .main-container .currency-wrapper .converter-container .converter__amount > input {
    width: 128px;
  }
}

.main-container .currency-wrapper .converter-container .converter__amount > select {
  padding: 14px 15px 13px 14px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  border: 0;
  border-left: solid 1px #eaeef2;
}

@media (min-width: 1400px) {
  .main-container .currency-wrapper .converter-container .converter__amount > select {
    width: 86px;
  }
}

.main-container .currency-wrapper .converter-container .converter__image {
  margin-top: 19px;
  margin-bottom: 19px;
}

.main-container .currency-wrapper .converter-container .converter__image > img {
  cursor: pointer;
}

.main-container .currency-wrapper .converter-container .converter__result {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  padding: 15px 16px 13px 15px;
  width: 100%;
}

.main-container .buttons {
  display: flex;
  width: calc(100% - 258px);
}

@media (max-width: 992px) {
  .main-container .buttons {
    flex-direction: column;
    width: 100%;
  }
}

.main-container .buttons > button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(50% - 76px);
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.94px;
  cursor: pointer;
  padding: 15px 0;
  background-color: #fff;
  transition: 0.2s all;
}

@media (max-width: 992px) {
  .main-container .buttons > button {
    width: 100%;
  }
}

.main-container .buttons__info {
  margin-right: 76px;
  border: solid 2px #4f6477;
}

.main-container .buttons__info:hover {
  color: #fff;
  background-color: var(--dark);
}

@media (max-width: 992px) {
  .main-container .buttons__info {
    margin-right: 0;
    margin-top: 26px;
    margin-bottom: 3px;
  }
}

.main-container .buttons__show {
  border: 0;
}

@media (min-width: 992px) {
  .main-container .buttons__show {
    border: solid 2px #4f6477;
  }
  .main-container .buttons__show:hover {
    color: #fff;
    background-color: var(--dark);
  }
}

.main-container .buttons__show > img {
  margin-left: 4px;
}

@media (min-width: 992px) {
  .main-container .buttons__show > img {
    display: none;
  }
}
